{% extends "base.html" %} {% block contents %}
test

{% load static %}
<img src="{% static 'stock/img/searchicon.png' %}" alt="">

<a href="{% url 'myStock'%}">주식 자산 확인</a><br>
<a href="{% url 'plusStock' %}">주식 자산 추가</a></br>
<a href="{% url 'login'%}">돌아가기</a></br>
<br>
<br>
<a href="{% url 'stock_cor'%}">자산 상관관계 확인하기(구)</a>
<br>
<br>
<a href="{% url 'db_companyToDB'%}">회사 db 추가(주의! : 최초1번만 실행하시오)</a></br>
<a href="{% url 'db_stockToDB'%}">!!누르지마세요~!!models.py 에 300만개 데이터 추가(매우느림 + 주의! : 최초 1회 실행후 업데이트용 코드추가) 20160101 ~ 202108</a></br>
<a href="{% url 'kospidataToDB'%}">kospi kosdaq 데이터 추가 (최초 1번만) 20170101 ~ 202108까지</a></br>
<br>
<a href="{% url 'deletStocklist'%}">stocklist, kospi_kosdaq 데이터 제거</a></br>
<br>
<br>
<a href="{% url 'db_stockToDB1'%}">d1</a></br></br>
<a href="{% url 'db_stockToDB2'%}">d2</a></br></br>
<a href="{% url 'db_stockToDB3'%}">d3</a></br></br>
<a href="{% url 'db_stockToDB4'%}">d4</a></br></br>
<a href="{% url 'db_stockToDB15'%}">d15</a></br></br>
<a href="{% url 'db_stockToDB5'%}">d5</a></br></br>
<a href="{% url 'db_stockToDB6'%}">d6</a></br></br>
<a href="{% url 'db_stockToDB7'%}">d7</a></br></br>
<a href="{% url 'db_stockToDB8'%}">d8</a></br></br>
<a href="{% url 'db_stockToDB9'%}">d9</a></br></br>
<a href="{% url 'db_stockToDB10'%}">d10</a></br></br>
<a href="{% url 'db_stockToDB11'%}">d11</a></br></br>
<a href="{% url 'db_stockToDB12'%}">d12</a></br></br>
<a href="{% url 'db_stockToDB13'%}">d13</a></br></br>
<a href="{% url 'db_stockToDB14'%}">d14</a></br></br>
<a href="{% url 'db_stockToDB16'%}">d16</a></br></br>
<a href="{% url 'db_stockToDB17'%}">d17</a></br></br>
<a href="{% url 'db_stockToDB18'%}">d18</a></br></br>
<a href="{% url 'db_stockToDB19'%}">d19</a></br></br>
<a href="{% url 'db_stockToDB20'%}">d20</a></br></br>
<a href="{% url 'db_stockToDB21'%}">d21</a></br></br>
<a href="{% url 'db_stockToDB22'%}">d22</a></br></br>
<a href="{% url 'db_stockToDB23'%}">d23</a></br></br>
<a href="{% url 'db_stockToDB24'%}">d24</a></br></br>
<a href="{% url 'db_stockToDB25'%}">d25</a></br></br>
<a href="{% url 'db_stockToDB26'%}">d26</a></br></br>
<a href="{% url 'db_stockToDB27'%}">d27</a></br></br>
<a href="{% url 'db_stockToDB28'%}">d28</a></br></br>
<a href="{% url 'db_stockToDB29'%}">d29</a></br></br>
<a href="{% url 'db_stockToDB30'%}">d30</a></br></br>
<a href="{% url 'db_stockToDB31'%}">d31</a></br></br>
<a href="{% url 'db_stockToDB32'%}">d32</a></br></br>
<a href="{% url 'db_stockToDB33'%}">d33</a></br></br>
<a href="{% url 'db_stockToDB34'%}">d34</a></br></br>
<a href="{% url 'db_stockToDB35'%}">d35</a></br></br>
<a href="{% url 'db_stockToDB36'%}">d36</a></br></br>
<a href="{% url 'db_stockToDB37'%}">d37</a></br></br>
<a href="{% url 'db_stockToDB38'%}">d38</a></br></br>
<a href="{% url 'db_stockToDB39'%}">d39</a></br></br>
<a href="{% url 'db_stockToDB40'%}">d40</a></br></br>
<a href="{% url 'db_stockToDB41'%}">d41</a></br></br>
<a href="{% url 'db_stockToDB42'%}">d42</a></br></br>
<a href="{% url 'db_stockToDB43'%}">d43</a></br></br>
<a href="{% url 'db_stockToDB44'%}">d44</a></br></br>
<a href="{% url 'db_stockToDB45'%}">d45</a></br></br>
<a href="{% url 'db_stockToDB46'%}">d46</a></br></br>
<a href="{% url 'db_stockToDB47'%}">d47</a></br></br>
<a href="{% url 'db_stockToDB48'%}">d48</a></br></br>
<a href="{% url 'db_stockToDB49'%}">d49</a></br></br>
<a href="{% url 'db_stockToDB50'%}">d50</a></br></br>
<a href="{% url 'db_stockToDB51'%}">d51</a></br></br>
<a href="{% url 'db_stockToDB52'%}">d52</a></br></br>
<a href="{% url 'db_stockToDB53'%}">d53</a></br></br>
<a href="{% url 'db_stockToDB54'%}">d54</a></br></br>
<a href="{% url 'db_stockToDB55'%}">d55</a></br></br>
<a href="{% url 'db_stockToDB56'%}">d56</a></br></br>
<a href="{% url 'db_stockToDB57'%}">d57</a></br></br>
<a href="{% url 'db_stockToDB58'%}">d58</a></br></br>
<a href="{% url 'db_stockToDB59'%}">d59</a></br></br>
<a href="{% url 'db_stockToDB60'%}">d60</a></br></br>
<a href="{% url 'db_stockToDB61'%}">d61</a></br></br>



{% endblock %}
